In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('font', family='Malgun Gothic')
import seaborn as sns
import scipy.stats as stats

In [2]:
df_NHIS = pd.read_csv('./NBMQ_i10.csv')
df_NHIS

,Unnamed: 0.1,Unnamed: 0,SICK_SYM1,OPRTN_YN,BTH_YYYY,VSHSP_DD_CNT,EDC_SBA,MDCARE_DD_CNT,EDC_INSUR_BRDN_AMT
0,190,190,I10,0,1921LE,1,3000,1,4570
1,195,195,I10,0,1921LE,2,6000,2,12160
2,197,197,I10,0,1921LE,1,3000,1,4570
3,284,284,I10,0,1921LE,1,4200,1,10000
4,769,769,I10,0,1921LE,1,1500,1,5810
...,...,...,...,...,...,...,...,...,...
4624,124484,124484,I10,0,2005,1,3000,1,6050
4625,124485,124485,I10,0,2005,1,3000,1,6050
4626,124486,124486,I10,0,2005,1,3000,1,6050
4627,124495,124495,I10,0,2005,1,3000,1,6380
4628,124590,124590,I10,0,2005,1,1500,1,10780

In [3]:
df_NHIS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4629 entries, 0 to 4628
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0.1        4629 non-null   int64
 1   Unnamed: 0          4629 non-null   int64
 2   SICK_SYM1           4629 non-null   object
 3   OPRTN_YN            4629 non-null   int64
 4   BTH_YYYY            4629 non-null   object
 5   VSHSP_DD_CNT        4629 non-null   int64
 6   EDC_SBA             4629 non-null   int64
 7   MDCARE_DD_CNT       4629 non-null   int64
 8   EDC_INSUR_BRDN_AMT  4629 non-null   int64
dtypes: int64(7), object(2)
memory usage: 325.6+ KB

In [4]:
df_NHIS_da = df_NHIS[['EDC_INSUR_BRDN_AMT','OPRTN_YN']]

In [5]:
df_NHIS_da.corr()

                    EDC_INSUR_BRDN_AMT  OPRTN_YN
EDC_INSUR_BRDN_AMT            1.000000  0.191945
OPRTN_YN                      0.191945  1.000000

In [6]:
stats.pearsonr(df_NHIS_da['EDC_INSUR_BRDN_AMT'],df_NHIS_da['OPRTN_YN'])

PearsonRResult(statistic=0.19194547999546901, pvalue=1.1662903985210721e-39)

In [7]:
df_NHIS_db = df_NHIS[['EDC_INSUR_BRDN_AMT','VSHSP_DD_CNT']]

In [8]:
df_NHIS_db.corr()

                    EDC_INSUR_BRDN_AMT  VSHSP_DD_CNT
EDC_INSUR_BRDN_AMT            1.000000      0.609756
VSHSP_DD_CNT                  0.609756      1.000000

In [9]:
stats.pearsonr(df_NHIS_db['EDC_INSUR_BRDN_AMT'],df_NHIS_db['VSHSP_DD_CNT'])

PearsonRResult(statistic=0.6097561898955837, pvalue=0.0)

In [10]:
df_NHIS_dc = df_NHIS[['EDC_INSUR_BRDN_AMT','EDC_SBA']]

In [11]:
df_NHIS_dc.corr()

                    EDC_INSUR_BRDN_AMT   EDC_SBA
EDC_INSUR_BRDN_AMT            1.000000  0.925724
EDC_SBA                       0.925724  1.000000

In [12]:
stats.pearsonr(df_NHIS_dc['EDC_INSUR_BRDN_AMT'],df_NHIS_dc['EDC_SBA'])

PearsonRResult(statistic=0.925723592443032, pvalue=0.0)

In [13]:
df_NHIS_dd = df_NHIS[['EDC_INSUR_BRDN_AMT','MDCARE_DD_CNT']]

In [14]:
df_NHIS_dd.corr()

                    EDC_INSUR_BRDN_AMT  MDCARE_DD_CNT
EDC_INSUR_BRDN_AMT            1.000000       0.241622
MDCARE_DD_CNT                 0.241622       1.000000

In [15]:
stats.pearsonr(df_NHIS_dd['EDC_INSUR_BRDN_AMT'],df_NHIS_dd['MDCARE_DD_CNT'])

PearsonRResult(statistic=0.24162171579064923, pvalue=1.7574341125238046e-62)