In [60]:
import pymongo as mg

In [61]:
client = mg.MongoClient(host='mongodb://localhost:27017/')

In [62]:
database=client['db_NHIS']
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_NHIS')

In [63]:
collection = database['Join_NSC2_BND_M20']

In [64]:
collection.find({})

In [65]:
cursor = collection.find({})

In [66]:
list_join = list(cursor)

In [67]:
import pandas as pd

In [68]:
pd.DataFrame(list_join)

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,64e6bd24960e3ecc434e21b1,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,64e6bd24960e3ecc434e21b2,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,3,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002
2,64e6bd24960e3ecc434e21b3,294364,1921LE,200707.0,T08-T14,W00-W19,2002091053122,63715,20020909,3,...,0,3,3,3,5.0,0.15,27620,9000,18620,2002
3,64e6bd24960e3ecc434e21b4,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,0,1,1,3,5.0,0.15,12920,3000,9920,2002
4,64e6bd24960e3ecc434e21b5,294364,1921LE,200707.0,T08-T14,W00-W19,2002060822342,23506,20020628,3,...,0,1,1,0,5.0,0.15,14230,3000,11230,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137158,64e6bd45960e3ecc4350399a,3000758,2015,NaN,NaN,NaN,2015050998151,79884,20150506,3,...,0,2,1,0,1.0,0.15,11280,2300,8980,2015
137159,64e6bd45960e3ecc4350399b,3000758,2015,NaN,NaN,NaN,2015031024807,79884,20150307,3,...,0,2,1,0,1.0,0.15,19640,3700,15940,2015
137160,64e6bd45960e3ecc4350399c,3000758,2015,NaN,NaN,NaN,2015050363901,79884,20150526,3,...,0,2,1,0,1.0,0.15,13470,2800,10670,2015
137161,64e6bd45960e3ecc4350399d,3000758,2015,NaN,NaN,NaN,2015040129477,79884,20150425,3,...,0,2,1,0,1.0,0.15,13530,2600,10930,2015
137162,64e6bd45960e3ecc4350399e,3000758,2015,NaN,NaN,NaN,2015092341857,122565,20150927,3,...,0,3,1,0,1.0,0.25,21730,6800,14930,2015

In [69]:
df_NBM = pd.DataFrame(list_join)

In [70]:
df_NBM

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,64e6bd24960e3ecc434e21b1,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,64e6bd24960e3ecc434e21b2,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,3,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002
2,64e6bd24960e3ecc434e21b3,294364,1921LE,200707.0,T08-T14,W00-W19,2002091053122,63715,20020909,3,...,0,3,3,3,5.0,0.15,27620,9000,18620,2002
3,64e6bd24960e3ecc434e21b4,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,0,1,1,3,5.0,0.15,12920,3000,9920,2002
4,64e6bd24960e3ecc434e21b5,294364,1921LE,200707.0,T08-T14,W00-W19,2002060822342,23506,20020628,3,...,0,1,1,0,5.0,0.15,14230,3000,11230,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137158,64e6bd45960e3ecc4350399a,3000758,2015,NaN,NaN,NaN,2015050998151,79884,20150506,3,...,0,2,1,0,1.0,0.15,11280,2300,8980,2015
137159,64e6bd45960e3ecc4350399b,3000758,2015,NaN,NaN,NaN,2015031024807,79884,20150307,3,...,0,2,1,0,1.0,0.15,19640,3700,15940,2015
137160,64e6bd45960e3ecc4350399c,3000758,2015,NaN,NaN,NaN,2015050363901,79884,20150526,3,...,0,2,1,0,1.0,0.15,13470,2800,10670,2015
137161,64e6bd45960e3ecc4350399d,3000758,2015,NaN,NaN,NaN,2015040129477,79884,20150425,3,...,0,2,1,0,1.0,0.15,13530,2600,10930,2015
137162,64e6bd45960e3ecc4350399e,3000758,2015,NaN,NaN,NaN,2015092341857,122565,20150927,3,...,0,3,1,0,1.0,0.25,21730,6800,14930,2015

In [71]:
df_NBM.to_csv('./join_BND_M20.csv')

In [72]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('font', family='Malgun Gothic')
import seaborn as sns

In [73]:
df_NBM20 = pd.read_csv('./join_BND_M20.csv')

C:\Users\05-27\AppData\Local\Temp\ipykernel_3532\1786905413.py:1: DtypeWarning: Columns (3,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_NBM20 = pd.read_csv('./join_BND_M20.csv')

In [74]:
df_NBM20

,Unnamed: 0,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,0,64e6bd24960e3ecc434e21b1,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,1,64e6bd24960e3ecc434e21b2,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002
2,2,64e6bd24960e3ecc434e21b3,294364,1921LE,200707.0,T08-T14,W00-W19,2002091053122,63715,20020909,...,0,3,3,3,5.0,0.15,27620,9000,18620,2002
3,3,64e6bd24960e3ecc434e21b4,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,...,0,1,1,3,5.0,0.15,12920,3000,9920,2002
4,4,64e6bd24960e3ecc434e21b5,294364,1921LE,200707.0,T08-T14,W00-W19,2002060822342,23506,20020628,...,0,1,1,0,5.0,0.15,14230,3000,11230,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137158,137158,64e6bd45960e3ecc4350399a,3000758,2015,NaN,NaN,NaN,2015050998151,79884,20150506,...,0,2,1,0,1.0,0.15,11280,2300,8980,2015
137159,137159,64e6bd45960e3ecc4350399b,3000758,2015,NaN,NaN,NaN,2015031024807,79884,20150307,...,0,2,1,0,1.0,0.15,19640,3700,15940,2015
137160,137160,64e6bd45960e3ecc4350399c,3000758,2015,NaN,NaN,NaN,2015050363901,79884,20150526,...,0,2,1,0,1.0,0.15,13470,2800,10670,2015
137161,137161,64e6bd45960e3ecc4350399d,3000758,2015,NaN,NaN,NaN,2015040129477,79884,20150425,...,0,2,1,0,1.0,0.15,13530,2600,10930,2015
137162,137162,64e6bd45960e3ecc4350399e,3000758,2015,NaN,NaN,NaN,2015092341857,122565,20150927,...,0,3,1,0,1.0,0.25,21730,6800,14930,2015

In [75]:
df_NBM20_simple=df_NBM20[['SICK_SYM1','OPRTN_YN','BTH_YYYY','VSHSP_DD_CNT','EDC_SBA','MDCARE_DD_CNT','EDC_INSUR_BRDN_AMT']]

In [76]:
df_NBM20_simple.to_csv('./NBM20_simple.csv')

In [77]:
df_NBMQ = pd.read_csv('./NBM20_simple.csv')

C:\Users\05-27\AppData\Local\Temp\ipykernel_3532\1177914074.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_NBMQ = pd.read_csv('./NBM20_simple.csv')

In [78]:
df_NBMQ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137163 entries, 0 to 137162
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          137163 non-null  int64
 1   SICK_SYM1           137163 non-null  object
 2   OPRTN_YN            137163 non-null  int64
 3   BTH_YYYY            137163 non-null  object
 4   VSHSP_DD_CNT        137163 non-null  int64
 5   EDC_SBA             137163 non-null  int64
 6   MDCARE_DD_CNT       137163 non-null  int64
 7   EDC_INSUR_BRDN_AMT  137163 non-null  int64
dtypes: int64(6), object(2)
memory usage: 8.4+ MB

In [84]:
df_NBMQ['SICK_SYM1']

0         L028
1         J030
2         J030
3         K291
4         M545
          ...
137158    J209
137159    J209
137160    J209
137161    J209
137162     J00
Name: SICK_SYM1, Length: 137163, dtype: object

In [80]:
df_NBMQ_i10 = df_NBMQ[df_NBMQ['SICK_SYM1'] == 'I10']

In [81]:
df_NBMQ_i10

,Unnamed: 0,SICK_SYM1,OPRTN_YN,BTH_YYYY,VSHSP_DD_CNT,EDC_SBA,MDCARE_DD_CNT,EDC_INSUR_BRDN_AMT
190,190,I10,0,1921LE,1,3000,1,4570
195,195,I10,0,1921LE,2,6000,2,12160
197,197,I10,0,1921LE,1,3000,1,4570
284,284,I10,0,1921LE,1,4200,1,10000
769,769,I10,0,1921LE,1,1500,1,5810
...,...,...,...,...,...,...,...,...
124484,124484,I10,0,2005,1,3000,1,6050
124485,124485,I10,0,2005,1,3000,1,6050
124486,124486,I10,0,2005,1,3000,1,6050
124495,124495,I10,0,2005,1,3000,1,6380
124590,124590,I10,0,2005,1,1500,1,10780

In [82]:
df_NBMQ_i10.isnull().sum()

Unnamed: 0            0
SICK_SYM1             0
OPRTN_YN              0
BTH_YYYY              0
VSHSP_DD_CNT          0
EDC_SBA               0
MDCARE_DD_CNT         0
EDC_INSUR_BRDN_AMT    0
dtype: int64

In [83]:
df_NBMQ_i10.to_csv('./NBMQ_i10.csv')